header {
  background-color: aquamarine;
  font: 400 70px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);

}
header a:link {
  text-decoration: none;
}
header img {
  max-width: 64px;
}

table {
  border-collapse: collapse;
  border : 1px solid gray;
}
td {
  padding: 10px;
  border : 1px solid gray;
  vertical-align: top;
}
.price {
  text-align: right;
}
img.product-tile {
  max-width: 64px;
}

/* Page specific styles */
body.product-list {

}