<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Phoneshop servlet api training</display-name>

    <context-param>
        <param-name>insertDemoData</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>com.es.phoneshop.web.DemoDataContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>dosFilter</filter-name>
        <filter-class>com.es.phoneshop.web.DosFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>dosFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>productList</servlet-name>
        <servlet-class>com.es.phoneshop.web.ProductListPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>productList</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>com.es.phoneshop.web.ProductDetailsPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/products/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>priceHistory</servlet-name>
        <servlet-class>com.es.phoneshop.web.PriceHistoryPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>priceHistory</servlet-name>
        <url-pattern>/products/priceHistory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cartPage</servlet-name>
        <servlet-class>com.es.phoneshop.web.CartPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cartPage</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteCartItem</servlet-name>
        <servlet-class>com.es.phoneshop.web.DeleteCartItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteCartItem</servlet-name>
        <url-pattern>/cart/deleteCartItem/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>miniCart</servlet-name>
        <servlet-class>com.es.phoneshop.web.MiniCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>miniCart</servlet-name>
        <url-pattern>/cart/miniCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>com.es.phoneshop.web.CheckoutPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>orderOverview</servlet-name>
        <servlet-class>com.es.phoneshop.web.OrderOverviewPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>orderOverview</servlet-name>
        <url-pattern>/order/overview/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <exception-type>com.es.phoneshop.model.product.exception.ProductNotFoundException</exception-type>
        <location>/WEB-INF/pages/errorProductNotFound.jsp</location>
    </error-page>

    <error-page>
        <exception-type>com.es.phoneshop.model.product.exception.OrderNotFoundException</exception-type>
        <location>/WEB-INF/pages/errorOrderNotFound.jsp</location>
    </error-page>

        <error-page>
            <error-code>500</error-code>
            <location>/WEB-INF/pages/error.jsp</location>
        </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/pageNotFound.jsp</location>
    </error-page>

</web-app>
